/* ===== Webサイト全体のスタイル ===== */
/* html */
html {
  height: 100%;
}

/* body */
body {
  font-family: sans-serif;
  height: 100%;
  margin: 0;
}

header p{
font-size: 25px;
text-align: center;
color: #006e54;
font-family: 'ＭＳ 明朝', serif;
text-shadow: 0px 0px 5px #ffffff;
}

/* h1見出し */
h1 {
  color: #006e54;/* フォントの色 */
  font-size: 50px;/* フォントの大きさ */
  font-family: ‘MS PMincho’;/* フォントの種類 */
  border-style: solid;/* 線の種類 */
  border-color: ;/* 線の色 */
  border-width: 5px;/* 線の太さ */
  text-align: center;/* 文字・画像を中央にそろえる */
  border-radius: 25px;/* 枠線の角丸 */
  padding: 20px;/* 内側の余白 */
  margin: 30px;/* 外側の余白 */
  font-family: 'ＭＳ 明朝', serif;
  text-shadow: 0px 0px 5px #ffffff;
}

/* ===== ヘッダーのスタイル ===== */

.box_17 {
	position: relative;
	background: #fffacd;
	font-size:30px;
	}
.box_17_ttl {
	position: relative;
	display: inline-block;
	padding: 0.5em 2em;
	background: #ffd500;
	color: #fff;
	font-weight: bold;
	top: 20px;
	left: -10px;
	}
.box_17_ttl::before {
	position: absolute;
	content: '';
	top: 100%;
	left: 0;
	border: none;
	border-bottom: solid 10px transparent;
	border-right: solid 10px rgb(149, 158, 155);
	}
.box_17_txt {
	margin: 0;
	padding: 1em 1.5em 1.5em;
	font-size:25px;
	}

/*タイトル付き（ラベルボックス）*/
.box5-2{
	background-color:#fff; /* ボックス背景色 */
	padding:2em; /* ボックス内側余白 */
	position:relative; /* 配置(ここを基準に) */
	border: 2px solid #666;/* ボックスの線 (太さ・種類・色)*/
	margin : 30px ;/*マージン(余白)を設定*/
}
.box5-2 .box-title {
	background-color:#fff; /* タイトル背景色 */
	font-size: 1em;/* タイトル文字の大きさ */
	font-weight:800;
	color: #666; /* タイトル文字色 */
	padding: 0 5px;/*タイトルの余白*/
	line-height: 0;/*タイトルの行の高さ*/
	position:absolute;/* 配置(ここを動かす) */
	top: -20px; /*上からの距離*/
	left: 20px; /*左からの距離*/
}

/* ヘッダーの箱 */
header {
  background-image: url(ジャングル.png);/* 背景画像 */
  height: 450px;/* 高さ */
  padding-top: 150px;/* 上がわの余白 */
  background-size:cover;
}


/* ===== お店紹介のスタイル ===== */
/* セクション */
.shop {
  background-color: #ffffee;/* 背景の色 */
  color: #663300;
  padding: 30px;
}

/* h2見出し */
.title {
  font-size: 30px;
  border-left-style: solid;
  border-left-width: 10px;
  padding-left: 15px;
  margin-bottom: 50px;
}

/* 段落 */
.shop p {
  font-size: 20px;
  background-color: #ffffff;
  padding: 0px;
  border-radius: 30px;
  height: 0px;
}

/* 画像 */
.shop img {
  float: right;/* 画像や箱の回り込み */
}


/* ===== パン紹介のスタイル ===== */
/* セクション */
.photo {
  padding: 30px;
  background-color: #fff;
}

/* h2見出し */
.photo h2 {
  font-size: 35px;
  color: #663300;
  border-color: #ffcc11;
}

/* h3見出し */
.photo h3 {
  color: #663300;
  font-size: 25px;
  font-family: ‘MS PMincho’/*font-family: 'system-ui', serif;*/
}
  
  /*h2見出し*/
.photo h2 {
  size: 50px;
}